<% unless current_user %>
<div id="errors"></div>
<%= form_for @user, remote: true, method: :post, url: '/users', html: { class: "login" } do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :phase %>
  <%= f.select :phase, options_for_select([['Phase One', 1], ['Phase Two', 2], 
                         ['Phase Three', 3], ['Phase Four', 4], ['Teacher', -1],
                         ['Alum', 0]], selected: @user.phase )%>
  <%= f.submit %>
<% end %>
<% else %>

<%= render 'help_requests/helpbox', help_request: HelpRequest.new %>

<% end %>
