<div id="getbox">
  <%=link_to "Request Permission", '/', :id => 'request_permission' %>

<%= link_to "Log Out", logout_path, method: :delete, remote: true %>
	<h1>Get Help</h1>  
	<%= gravatar_for(current_user.email) %>  
  <%= form_for :help_request, url: help_requests_path, remote: true do |f| %>
    <%= f.text_field :note, placeholder: "Describe problem" %><br>
    <input type="text", name="tag_content", id="tags" placeholder="tags">
    <%= f.select :urgency, [['blue', 1], ['orange', 2], ['red', 3]], :prompt => 'Urgency'  %>
    <%= f.submit "HELP", :id => "help" %>
  <% end %>

</div>





